#shop {
  position: fixed;
  inset: 0;
  background: #000000aa;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shop button {
  margin-top: 10px;
  padding: 10px 16px;
  border-radius: 14px;
  border: none;
  background: #4facfe;
  color: white;
  font-size: 16px;
}
